<header class="" style="background-color: #666290;">
    <app-notification-sidebar [isSidebarOpen]="isSidebarOpen"></app-notification-sidebar>

    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <a [routerLink]="'/'"><img src="../../../../assets/Logo/myLogo.png" alt="HappyHomes" class="h-20"></a>
        </div>
        <nav class="hidden md:flex space-x-8">
            <a [routerLink]="'/book/categories'" class="text-white font-medium text-xl hover:text-blue-300">Services</a>
            <a [routerLink]="'/book/booking-list'"
                class="text-white font-medium text-xl hover:text-blue-300">Bookings</a>
            <a [routerLink]="'/book/booking-history'"
                class="text-white font-medium text-xl hover:text-blue-300">History</a>
            <a [routerLink]="'/userProfile'" class="text-white font-medium text-xl hover:text-blue-300">Profile</a>
        </nav>
        <div class="flex items-center space-x-4">
            <ng-container *ngIf="!isLoggedIn; else loggedIn">
                <a [routerLink]="['/userLogin']"
                    class="text-white font-medium text-lg hover:text-blue-300">Signup/Login</a>
            </ng-container>
            <ng-template #loggedIn>
                <div class="relative">
                    <button (click)="toggleNotificationSidebar()" class="text-white text-xl mr-3 relative">
                        <i class="fas fa-bell"></i>
                        <span *ngIf="hasUnreadNotifications"
                            class="absolute top-0 right-0 bg-red-600 rounded-full text-white text-xs px-1">!</span>
                    </button>
                </div>
                <a (click)="logout()" class="text-white font-medium text-lg hover:text-blue-300">Logout</a>
            </ng-template>
        </div>
    </div>
</header>