<app-employee-header></app-employee-header>
<div class="flex h-screen overflow-auto">
    <div>
        <app-employee-sidebar></app-employee-sidebar>
    </div>
    <div class="flex-1 p-4 relative">
        <!-- Static Content -->
        <div *ngIf="!routerOutletActive" class="static-content">
            <div class="text-center">
                <div class="relative bg-cover bg-center h-96"
                    style="background-image: url('../../../../assets/background\ cover.jpg');">
                    <div class="absolute inset-0 items-center justify-center mt-32">
                        <h1 class="text-3xl font-bold text-gray-200">Welcome to HappyHomes!</h1>
                        <h2 class="text-2xl font-bold text-gray-200 pt-6">Want to work for us?</h2>
                        <div class="mt-7">
                            <button class="bg-blue-900 text-white px-3 py-2 mt-6 rounded-md hover:bg-blue-600">
                                Get Started
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="!routerOutletActive">
            <router-outlet (activate)="onActivate()"></router-outlet>
        </div>
    </div>
</div>