<div class="page-container flex fixed inset-0 justify-center items-center min-h-screen bg-transparent py-10">
    <div class="header-container absolute z-50 w-72"> 
        <img src="../../../../assets/Logo/myLogo.png" alt="Logo" class="logo absolute top-[24px] left-[20px] w-[300px]">
    </div>
    <form class="form bg-white p-6 rounded-2xl border border-gray-300 shadow-md w-full max-w-md">
        <p class="title text-2xl font-semibold text-center mb- 3 pb-3 text-black mb-2">Change Password</p>

        <label class="w-full flex flex-col items-start relative mb-2">
            <input required placeholder=" " type="password"
                class="input w-full max-w-sm p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" />
            <span class="absolute left-3 top-2 text-gray-500 text-sm transition-all input-placeholder">Password</span>
        </label>
        
        <label class="w-full flex flex-col items-start relative mb-2">
            <input required placeholder=" " type="password"
                class="input w-full max-w-sm p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" />
            <span class="absolute left-3 top-2 text-gray-500 text-sm transition-all input-placeholder">Confirm  Password</span>
        </label>
        

        <p class="signin text-center text-sm text-gray-600 mt-4">New password should be unique from former passwords</p>
        
        <button
            class="submit w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 rounded-md transition duration-300">
            Change Password
        </button>
        
    </form>
</div>