/* Center the form on the page */
div {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-top: 150px;
    padding-bottom: 50px;
    overflow: hidden;
}

/* Form styles */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
    max-width: 550px;
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.form input {
    width: 100%;
    max-width: 350px;
    display: block; 
    margin: 0 auto; 
}

.form label {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; /* Align items to the left */
    position: relative;
}

.title {
    font-size: 28px;
    color: black; 
    font-weight: 600;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 5px; /* Reduce space between title and message */
}

.message {
    color: rgba(77, 75, 75, 0.822);
    font-size: 16px;
    text-align: center; 
    margin-bottom: 15px; /* Optional: Adjust margin for spacing consistency */
}

.signin {
    text-align: center;
    color: rgba(77, 75, 75, 0.822);
    font-size: 16px;
}

.signin a {
    color: royalblue;
    text-decoration: none;
}

.signin a:hover {
    color: rgb(62, 90, 173);
}

.form label .input {
    width: 100%;
    max-width: 350px; 
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    margin: 0 auto; 
}

.form label span {
    position: absolute;
    left: 20px; /* Adjust to keep span inside label on the left */
    top: 15px; 
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    height: 40px;
    width: 300px; 
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: .3s ease;
    align-self: center; 
}

.submit:hover {
    background-color: rgb(62, 90, 173);
}
